* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  max-width: 350px;
  margin: 2vh auto;
  background-color: black;
  color: darkorange;
  text-shadow: 1px 0 10px darkred;
}
.allContainerBackground {
  background: #04018c;
  background: -webkit-linear-gradient(bottom, #04018c, #010101);
  background: -moz-linear-gradient(bottom, #04018c, #010101);
  background: linear-gradient(to top, #04018c, #010101);
  box-shadow: 0 0 15px 3px darkred;
  border-radius: 15px;
  padding: 1vh 0;
}
.border {
  border: 3px solid white;
  margin: 5vh 20px 0 20px;
  padding: 3vh 0;
}
.title {
  font-size: 1.5rem;
  text-align: center;
}
.rounds {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
}
.flex p {
  padding-left: 10px;
}
.titleMain {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 35px;
}
#choice {
  display: flex;
  justify-content: space-evenly;
}
#choice input[type="button"] {
  border: 3px solid darkred;
  border-radius: 65px;
  padding: 23px 25px;
  background-color: rgb(233, 160, 71);
  cursor: pointer;
  font-size: 2rem;
}
#choice input[type="button"]:hover {
  box-shadow: 0 0 15px 10px darkred;
  background-color: antiquewhite;
}
.scissors {
  rotate: -90deg;
}
footer {
  text-align: center;
  margin-top: 5vh;
}
section input[type="button"] {
  color: darkorange;
  font-size: 1.4rem;
  text-decoration: underline;
  background-color: black;
  border: 0;
  margin-top: 10vh;
  cursor: pointer;
}
.outPutText {
  text-align: center;
  padding-top: 5vh;
  font-size: 1.5rem;
  text-shadow: 0 0 15px beige;
}
.user p,
.computer p {
  font-size: 0.9rem;
}
.user,
.computer {
  margin: 0 auto;
  background-color: red;
  border: 2px solid red;
}
.user {
  margin-right: 85px;
  color: white;
}
.computer {
  color: white;
  margin-left: 85px;
}
